@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-y: scroll;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #737373;
}